<nav class="bg-slate-800 border-b border-slate-700 px-6 py-4 sticky top-0 z-10">
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    <!-- Logo -->
    <p class="text-lg font-semibold text-white">
      <span class="text-blue-400">Rovimatica</span> PaqTracer
    </p>
    <!-- Usuario + cerrar sesión -->
    <div class="flex items-center gap-4">
      <div class="flex items-center gap-2">
        <!-- Punto de estado -->
        <span class="w-2 h-2 bg-green-400 rounded-full"></span>
        <span class="text-slate-400 text-sm hidden sm:block">{{ correoUser }}</span>
      </div>
      <span class="text-slate-600 hidden sm:block">|</span>
      <span class="text-xs text-blue-400 font-medium uppercase tracking-wide hidden sm:block">
        {{ rolUser }}
      </span>
      @if ((rolUser === 'superadmin' || rolUser === 'admin') && rutaActual() !== '/busqueda') {
      <button (click)="redirigirBuscar()" class=" text-sm bg-slate-700 hover:bg-green-600 text-slate-300 hover:text-white px-3 py-1.5 rounded-lg
          transition-all duration-200">
        Busqueda de paquete
      </button>
      }
      @if (rutaActual()==="/busqueda") {
      <button (click)="redirigirDashboard()" class=" text-sm bg-slate-700 hover:bg-green-600 text-slate-300 hover:text-white px-3 py-1.5 rounded-lg
          transition-all duration-200">
        Vuelta a Dashboard
      </button>
      }
      <button (click)="cerrarSesion()" class=" text-sm bg-slate-700 hover:bg-red-600 text-slate-300 hover:text-white px-3 py-1.5 rounded-lg
          transition-all duration-200">
        Salir
      </button>
    </div>
  </div>
</nav>